* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.2;
  background-color: #f6f6f6;
}
/*#region UTILITIES */

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.center {
  justify-content: center;
}

.border {
  border: 4px solid #000;
}

.green {
  background-color: #00ff00 !important;
}

.magenta {
  background-color: #ff00ff !important;
}
.white {
  background-color: #fff;
}
.brand {
  background-color: #255ee9 !important;
  color: white !important;
}
.black {
  background-color: #23272a !important;
  color: white !important;
}

.fontlarge {
  color: #23272a;
  font-size: 28px;
}
/*#endregion UTILITIES */

/* #region wave */
.custom-shape-divider-bottom-1657560009 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1657560009 svg {
  display: block;
  width: calc(118% + 1.3px);
  height: 113px;
}

.rotate {
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1657560009 .shape-fill {
  fill: #ffffff;
}
/* #endregion wave */

/*#region general */
.button {
  display: block;
  font-weight: 500;
  border: none;
  padding: 12px 20px;
  border-radius: 100px;
  background-color: #fff;
  color: black;
  text-decoration: none;
}

button:hover {
  color: black !important;
}
/*#endregion general */

/* #region HEADER */

  /* #region Navigation */
  nav {
    justify-content: space-around; 
    padding-top: 20px;
    background-color: #255ee9;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .nav-links {
    width:500px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .nav-links a {
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
  nav a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  /* #endregion Navigation */
  
  /* #region Jumbotron */
  .titles {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }

  .text-titles {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 550px;
    flex-grow: 1;
    line-height: 1.5rem;
    flex-basis: 80vh;
    color: #fff;
  }

  .text-titles h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .header-button {
      text-align: center;
  }

  .header-button > * {
      margin: 10px 10px ;
      
  }
  .header-button > *:last-child {
      margin-right: 0;
  }
  /* #endregion Jumbotron */


/* #endregion HEADER */

/* #region main */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.cards section > div:not(:last-child):not(.custom-shape-divider-bottom-1657560009) {
  /*TUTTE LE CARD TRANNE L'ULTIMA*/
  flex-basis: 90vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  align-content: center;
  text-align: center;
}

section > div .section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 30%;
  text-align: left;
  vertical-align: text-top;
  line-height: 1.5em;
  font-size: 20px;
  color: #23272a;
}

.section-text h2 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 1rem;
   line-height: 1em;
  
 
}
main .cards img {
  max-width: 50%;
  flex-shrink: 1;
}

section > div.row .section-text {
  margin-left: 5rem;
}

section > div.row-reverse .section-text {
  margin-right: 5rem;
}
.cards section > div:last-child { /*ULTIMA CARD*/
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: flex-start;
  flex-shrink: 1;
  align-items: center;
  padding-top: 50px;
  flex-basis: 150vh;
  flex-grow: 1;
}
.cards section > div:last-child .section-text {
  flex-basis: 20%;
  text-align: center;
  width: 100%;
}

.cards section > div:last-child h2 {
  font-size: 40px;
  margin-bottom: 1rem;
}

#large-image {
  flex-shrink: 1;
  max-width: 100%;
  width: 100%;
  height: auto;
}

#stars {
  padding: 3rem;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;

}

#download {
  margin-top: 1rem;
  margin-bottom: 7rem;
  font-size:20px
}

/* #endregion main */

/* #region FOOTER */
footer {
  background-color: #23272a;
}
footer > div {
  width: 70%;
  margin: 0 auto;
}
.links {
  padding-top: 100px;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  flex-basis: 70vh;
  flex-wrap: wrap;
  flex-grow: 1;
}

footer h4 {
  font-size: 1.7rem;
  color: #7289da;
}

#bandiera {
  max-width: 1.5rem;
  vertical-align: middle;
}
#lingua {
  padding-top: 2rem
}
footer .social {
  color: white;
  margin-top: 1rem;
}
footer .social > * {
margin: 5px
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height:2rem;
}
.links ul li:first-child {
  font-weight: 900;
  color: #7289da;
}

.links > div:first-child {
  flex-basis: 20%;
}



.bottomfoot {
  color: white;
  flex-basis: 50px;
  justify-content: space-between;
  margin-bottom:5rem;
}


#footer-Logo {
  max-width: 5rem
}

.registation-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  background-color: #7289da
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #7289da;
} 
/* #endregion FOOTER */
